# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Django database
db.sqlite3

# Environment variables
.env

# VSCode settings (optional)
.vscode/
node_modules
.DS_Store
express-backend/.DS_Store
.DS_Store
